header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(174, 174, 245);
    padding: 0 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li {
    font-size: 18px;
    font-weight: 600;
}